.vanilla-context-ul {
  background: #fff;
  display: none;
  width: 100px;
  position: fixed;
  z-index: 10;
  border:1px solid #bdc3c7;

  margin:0;
  padding:0;
  list-style: none;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.vanilla-context-ul-active {
  display: block;
}


.vanilla-context-li {
  position: relative;
}

.vanilla-context-li-hover {
  background: #ecf0f1;
}

.vanilla-context-li-click {

}