.vanilla-context-ul {
  background: #fff;
  display: none;
  width: 100px;
  position: fixed;
  z-index: 10;
  border: 1px solid #bdc3c7;

  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.vanilla-context-ul.active {
  display: block;
}

.vanilla-context-li {
  display: flex;
  height: 20px;
  justify-content: center;
  align-content: center;
  padding: 8px 8px;
}

/* Prevent event firing from children of li */
/**:not(.vanilla-context-li, .vanilla-context-ul) {*/
/*  pointer-events: none;*/
/*}*/

/*.vanilla-context-li .vanilla-context-ul {*/
/*  pointer-events: auto;*/
/*}*/

.vanilla-context-li-hover {
  background: #ecf0f1;
}

.vanilla-context-text-container {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
}

.vanilla-context-icon-container {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 10px;
  width: 10px;
}

.vanilla-context-icon {
  max-height: 10px;
}
